telethon
pymongo
dnspython
requests
beautifulsoup4
flask
gunicorn
motor
deep-translator
Pillow
cryptg
pyaes
g4f
gTTS
SpeechRecognition
pydub
pytz
pyrogram
pytgcalls==2.0.0
tgcalls==2.0.0
yt-dlp
pillow
ffmpeg-python

